.custom-title{
    margin: 1em 0em 0em 1em;
    font-weight: bold;
}

.cart-content{
    margin: 2em 1em 0em 1em;
    border-radius: 25px;
    -webkit-box-shadow: -8px 5px 15px 4px rgba(0,0,0,0.5); 
    box-shadow: -8px 5px 15px 4px rgba(0,0,0,0.5);
    min-height: 13em;
}

.cart-image{
    width: 150px;
}

.cart-item-image, .cart-item-details, .cart-content-right{
    display: inline-block;
}

.cart-item-details{
    margin: 1em 2em;
    vertical-align: middle;
}

.cart-item-title{
    font-size: 2.2em;
    font-weight: bold;
    width: 12em;
}

.cart-item-price{
    font-weight: bold;
    font-size: 1.5em;
}

.cart-content-right{
    float: right;
    margin: 2em;
    vertical-align: middle;
}

.cart-quantity > *{
    margin-right: 1em;
    display: inline-block;
    font-size: 1.5em;
}

.purchase-details{
   font-size: 1.5em; 
}

.history-date{
    margin: 1em 0em 0em 1em;
    font-size: 2em;
    font-weight: bold;
    color: #FDAC04;
}

.filter-part{
    margin-top: 2em;
}

.filter-part > *{
    display: inline;
    white-space: nowrap;
}

.custom-input{
    margin-left: 1em;
    width: 15em;
    vertical-align: text-bottom;
}

.custom-submit{
    margin-left: 1em;
    font-weight: bold;
    padding: 0.5em 2em;
}